body {
    background-color: rgb(185, 188, 190);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(37, 36, 36);
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px;
}

h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

form label, form textarea, form input[type="text"], form input[type="email"], form input[type="submit"] {
    display: block;
    margin
